/node_modules
/.idea
/public/dist
/public/hot
/public/logo
/public/storage
/storage/logs
/storage/out.txt
/storage/tempfile
/storage/*.key
/storage/*-key.json
/vendor
/public/build
.env
.env-purchase
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
phpunit.dusk.xml
*.code-workspace
/tests/_output
/tests/Report/*
globlzr2020.sql
globlzr2020.sql.tar.gz
public/mix-manifest.json
/public/mix-manifest.json
/mysql
/docker-compose.yml
docker-compose.override.yaml
/sql-dumps
/auth.json
